.app {
    display:flex;
    flex-direction: column;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    padding-top: 2rem;

    
  
    
}

